/* Contenedor principal del footer */
.footer-container {
  background-color: rgba(255, 255, 255, 0.85); 
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  padding: 40px 20px;
  
  /* Flexbox para alinear elementos */
  display: flex;
  flex-direction: row; /* Elementos en fila */
  flex-wrap: wrap; /* Si la pantalla es pequeña, que pasen a la línea de abajo */
  justify-content: left; /* Centramos todo */
  align-items: center; /* Alineamos verticalmente */
  gap: 190px; /* Espacio entre el logo y los links */
}

/* La parte del logo y el año */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el logo y la palabra © 2024 */
}

.footer-logo {
  fill: #8b949e; /* Color del icono SVG */
}

.footer-logo:hover {
  fill: #c9d1d9; /* Se aclara un poco al pasar el ratón */
}

/* La lista de enlaces */
.footer-links {
  display: flex;
  flex-wrap: wrap; /* Que bajen de línea si no caben */
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px; /* Espacio entre cada palabra (Terms, Privacy...) */
}

/* Estilos para los enlaces (etiquetas <a>) */
.footer-links a {
  text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px; /* Espaciado */
    position: relative;
    transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #000; 
  text-decoration: underline; 
}