header {
    display: flex;
    justify-content: space-between; 
    padding: 15px 40px; 
    
    background: rgba(255, 255, 255, 0.85); /* Blanco al 85% de opacidad */
    border-bottom:none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05); /* Sombra muy suave */
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    
}

header h1 {
    font-family: "Zen Tokyo Zoo", system-ui;
    font-size: 2.8rem;
    color: #1a1a1a;
    margin: 0;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1); /* Pequeño relieve */
}

nav {
    display: flex;
    align-items: center;
}


.list-item {
    list-style-type: none;
    margin: 0 20px;
    display: inline-block; /* Asegura que se pongan en fila */
    white-space: nowrap;
}

.list-item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px; /* Espaciado */
    position: relative;
    transition: color 0.3s ease;
}

.list-item a:hover {
    color: #000;
}

/* Línea animada debajo del menú */
.list-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.list-item a:hover::after {
    width: 100%;
}

/* Estilo para el botón de Login */
.login-btn {
    background-color: #4a148c; /* Púrpura oscuro */
    color: white !important; /* Forzamos el color blanco */
    padding: 8px 18px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700 !important;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.login-btn:hover {
    background-color: #ffffff;
    color: #4a148c !important;
    border: 1px solid #4a148c;
    box-shadow: 0 2px 10px rgba(74, 20, 140, 0.2);
    cursor: pointer;
}

/* Quitamos la línea animada de abajo solo para este botón */
.list-item .login-btn::after {
    display: none;
}